---
title: Welcome to Middleman
---

<h1>Kanye</h1>
<h2>Kanye's been out of control. Want me to text you when he's done?</h2>

<form id="addForm">
  <label for="phone-add"></label>
  <input type="tel" name="phone-add" placeholder="(678) 999-8212"/>
  <button type="submit">Send</button>
</form>

<a href='remove.html'>Want to remove your number from the list?</a>
<p class="fine-print">We won't do anything shady with your data. Check out our <a href='terms.html' target='_blank'>terms of service.</a></p>

<script>
  var addForm = document.getElementById('addForm');

  addForm.addEventListener('submit', function(e) {
    e.preventDefault();
    addNum(e.target.elements['phone-add'].value);
    alert("You're on the list! We'll text you when this bro calms down");
    e.target.elements['phone-add'].value = "";
  });

</script>
