---
title: Welcome to Middleman
---

<h1>Kanye</h1>
<h2>Kanye's been out of control. Want me to text you when he's done?</h2>

<form>
  <label for="phone-add"></label>
  <input type="tel" name="phone-add" placeholder="+1 (678) 999-8212"/>
  <button type="submit">Send</button>
</form>

<p class="fine-print">I won't do anything shady with your data. Check out our terms of service, or this summary</p>

<h2>Wanna take your number off the list?</h2>
<form>
  <label for="phone-add"></label>
  <input type="tel" name="phone-add" placeholder="+1 (281) 330-8004"/>
  <button type="submit">Remove</button>
</form>
